/*  media query 1170px */
@media(max-width: 1170px) {

    /*general css*/

    .section-subtitle {
        max-width: 60%;
    }

    /* 01 navbar CSS*/
    .header .navbar {
        background-size: cover;
        position: 2rem;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }

    .header .header_right span {
        padding: 0.2rem 0.5rem;
    }



    /*02 banner section*/
    .banner_section{
        min-height: 70vh;
    }

    .banner_section .carousel-item{
        height: 70vh;
    }
}

/* media queryy 991px */
@media(max-width: 991px) {
    /*General  Css */
   .about .banner_section,
   .product .banner_section,
   .gallery .banner_section,
   .contact .banner_section{
      padding-top: 17rem;
      padding-bottom: 3rem;

    }
        /* 01 navbar CSS*/
    .header .navbar {
        background-size: cover;
        position: 2rem;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }

    .header .header_right span {
        padding: 0.2rem 0.5rem;
    }

}


/* media queryy 767px */
@media(max-width: 767px) {
    /*General  Css */
    html,body{
        font-size: 8px;
    }

    .section-subtitle{
        max-width: 80%;
    }



       /*01 navbar css*/

}

/* media queryy 590px */
@media(max-width: 590px) {
    /*General  Css */
    body.html{
        font-size: 7px;
    }
       /*01 navbar css*/

}

